{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}