{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
