@import "./pretendardvariable.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* brand */
  --brand-600: #6d7d87;
  --brand-500: #7296a4;
  --brand-400: #9fb5c4;
  --brand-300: #cdd9df;
  --brand-200: #e4eced;
  --brand-100: #ededec;
  --brand-50: #fdfdfc;

  /* Black */
  --basic-black: #1b1b1b;

  /* Navy */
  --basic-navy: #1a2e35;

  /* Gray */
  --gray-800: #4b4b4b;
  --gray-700: #79747e;
  --gray-600: #a1a1a1;
  --gray-500: #a4a1aa;
  --gray-400: #adaeb8;
  --gray-300: #cbc9cf;
  --gray-200: #dddddd;
  --gray-100: #eeeeee;
  --gray-50: #fafafa;

  /* Red */
  --red-200: #ff472e;
  --red-100: #ffc2ba;
  --red-50: #ffe4e0;

  /* Orange */
  --orange-100: #ff7c1d;
  --orange-50: #fff4e8;

  /* Yellow */
  --yellow-200: #ffc23d;

  /* Green */
  --green-200: #00ac07;

  /* Blue */
  --blue-200: #0085ff;
  --blue-100: #2eb4ff;
  --blue-50: #e5f3ff;

  /* header */
  --header-height: 5rem;

  /* footer */
  --footer-height: 10rem;
}

@layer utilities {
  /* Text-3xl */
  .text-32px-bold {
    @apply text-[32px] font-bold leading-[42px];
  }

  .text-32px-semibold {
    @apply text-[32px] font-semibold leading-[42px];
  }

  /* Text-2.5xl */
  .text-28px-bold {
    @apply text-[28px] font-bold leading-[32px];
  }

  /* Text-2xl */
  .text-24px-bold {
    @apply text-[24px] font-bold leading-[32px];
  }

  .text-24px-semibold {
    @apply text-[24px] font-semibold leading-[32px];
  }

  .text-24px-medium {
    @apply text-[24px] font-medium leading-[32px];
  }

  .text-24px-regular {
    @apply text-[24px] font-normal leading-[32px];
  }

  /* Text-xl */
  .text-20px-bold {
    @apply text-[20px] font-bold leading-[32px];
  }

  .text-20px-semibold {
    @apply text-[20px] font-semibold leading-[32px];
  }

  .text-20px-medium {
    @apply text-[20px] font-medium leading-[32px];
  }

  .text-20px-regular {
    @apply text-[20px] font-normal leading-[32px];
  }

  /* Text-2lg */
  .text-18px-bold {
    @apply text-[18px] font-bold leading-[26px];
  }

  .text-18px-semibold {
    @apply text-[18px] font-semibold leading-[26px];
  }

  .text-18px-medium {
    @apply text-[18px] font-medium leading-[26px];
  }

  .text-18px-regular {
    @apply text-[18px] font-normal leading-[26px];
  }

  /* Text-lg */
  .text-16px-bold {
    @apply text-[16px] font-bold leading-[26px];
  }

  .text-16px-semibold {
    @apply text-[16px] font-semibold leading-[26px];
  }

  .text-16px-medium {
    @apply text-[16px] font-medium leading-[26px];
  }

  .text-16px-regular {
    @apply text-[16px] font-normal leading-[26px];
  }

  /* Text-md */
  .text-14px-bold {
    @apply text-[14px] font-bold leading-[24px];
  }

  .text-14px-semibold {
    @apply text-[14px] font-semibold leading-[24px];
  }

  .text-14px-medium {
    @apply text-[14px] font-medium leading-[24px];
  }

  .text-14px-regular {
    @apply text-[14px] font-normal leading-[24px];
  }

  /* Text-sm */
  .text-13px-semibold {
    @apply text-[13px] font-semibold leading-[22px];
  }

  .text-13px-medium {
    @apply text-[13px] font-medium leading-[22px];
  }

  /* Text-xs */
  .text-12px-semibold {
    @apply text-[12px] font-semibold leading-[18px];
  }

  .text-12px-medium {
    @apply text-[12px] font-medium leading-[18px];
  }

  .text-12px-regular {
    @apply text-[12px] font-normal leading-[18px];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Pretendard Variable", "Pretendard", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
