.react-datepicker {
  width: 304px;
  height: auto;
  border: 1px solid #eee;
  border-radius: 8px;
  font-family: inherit;
  background-color: rgb(214, 163, 163);
  padding: 10px;
}

.react-datepicker .react-datepicker__header {
  background-color: white;
  border-bottom: none;
  border-radius: 0;
  padding-bottom: 0;
}

.react-datepicker .react-datepicker__header.react-datepicker__header--custom {
  margin-bottom: 10px;
}

.react-datepicker .react-datepicker__month {
  margin: 0 auto;
  width: 250px;
}

.react-datepicker__current-month {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.react-datepicker__month-container {
  float: none;
  width: 100%;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 32px;
  margin: 0 auto;
}

.react-datepicker__day-names {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.react-datepicker__day-name {
  width: 35px;
  font-size: 14px;
  color: #4b4b4b;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}

.react-datepicker .react-datepicker__day.react-datepicker__day--today {
  font-weight: 900;
  background-color: var(--brand-300);
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.react-datepicker .react-datepicker__day.react-datepicker__day:hover {
  background-color: var(--brand-400);
  color: white;
  width: 28px;
  height: 28px;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--brand-500);
  width: 28px !important;
  height: 28px !important;
}

.react-datepicker .react-datepicker__day.react-datepicker__day--highlighted {
  background-color: var(--brand-400);
  color: white !important;
  width: 28px;
  height: 28px;
}

.custom-day {
  width: 35px;
  height: 34px;
  text-align: center;
  line-height: normal;
}
.custom-day:hover {
  border-radius: 8px;
}
.gray-day {
  color: #aba8b9;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
}

.customHeader {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.date-text {
  font-size: 14px;
  color: #1b1b1b;
  font-weight: 700;
}

.react-datepicker .react-datepicker__day.react-datepicker__day--selected {
  background: var(--brand-600);
  border-radius: 8px;
  color: white;
  width: 28px;
  height: 28px;
}
